/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
@media all and (min-width: 480px) and (max-width: 959px) {
  /** The layout when there are no sidebars.*/
  /* line 41, ../../sass/layouts/480.scss */
  .no-sidebars {
    /* Cotent area */
  }
  /* line 45, ../../sass/layouts/480.scss */
  .no-sidebars #content {
    /* Span 4 columns, starting in 1nd column from left. */
    float: left;
    width: 150%;
    margin-left: 0%;
    margin-right: -150%;
    clear: left;
  }
  /* line 49, ../../sass/layouts/480.scss */
  .no-sidebars #content .div1_1 {
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -50%;
  }
  /* line 52, ../../sass/layouts/480.scss */
  .no-sidebars #content .div1_2 {
    float: left;
    width: 50%;
    margin-left: 50%;
    margin-right: -100%;
  }
  /* line 55, ../../sass/layouts/480.scss */
  .no-sidebars #content .div1_3 {
    float: left;
    width: 50%;
    margin-left: 100%;
    margin-right: -150%;
  }
  /* line 58, ../../sass/layouts/480.scss */
  .no-sidebars #content .div2_1 {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
  }
  /* line 61, ../../sass/layouts/480.scss */
  .no-sidebars #content .div2_2 {
    float: left;
    width: 100%;
    margin-left: 50%;
    margin-right: -150%;
  }
  /* line 64, ../../sass/layouts/480.scss */
  .no-sidebars #content .div3_1 {
    float: left;
    width: 150%;
    margin-left: 0%;
    margin-right: -150%;
  }

  /** The layout when there is only one sidebar, the left one.*/
  /* line 75, ../../sass/layouts/480.scss */
  .sidebar-first #content {
    /* Span 2 columns, starting in 2nd column from left. */
    float: left;
    width: 100%;
    margin-left: 50%;
    margin-right: -150%;
  }
  /* line 78, ../../sass/layouts/480.scss */
  .sidebar-first #content .div1_2 {
    float: left;
    width: 50%;
    margin-left: 50%;
    margin-right: -100%;
  }
  /* line 81, ../../sass/layouts/480.scss */
  .sidebar-first #content .div1_3 {
    float: left;
    width: 50%;
    margin-left: 100%;
    margin-right: -150%;
  }
  /* line 84, ../../sass/layouts/480.scss */
  .sidebar-first #content .div2_2 {
    float: left;
    width: 100%;
    margin-left: 50%;
    margin-right: -150%;
  }
  /* line 89, ../../sass/layouts/480.scss */
  .sidebar-first .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -50%;
  }

  /** The layout when there are two sidebars. */
  /* line 99, ../../sass/layouts/480.scss */
  .two-sidebars #content {
    /* Span 2 columns, starting in 2nd column from left. */
    float: left;
    width: 100%;
    margin-left: 50%;
    margin-right: -150%;
  }
  /* line 102, ../../sass/layouts/480.scss */
  .two-sidebars #content .div1_2 {
    float: left;
    width: 50%;
    margin-left: 50%;
    margin-right: -100%;
  }
  /* line 107, ../../sass/layouts/480.scss */
  .two-sidebars .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -50%;
  }
  /* line 111, ../../sass/layouts/480.scss */
  .two-sidebars .region-sidebar-second {
    /* Start a new row and span all 3 columns. */
    float: left;
    width: 150%;
    margin-left: 0%;
    margin-right: -150%;
    padding-left: 0;
    padding-right: 0;
    clear: left;
  }
  /* line 116, ../../sass/layouts/480.scss */
  .two-sidebars .region-sidebar-second .block {
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 119, ../../sass/layouts/480.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(3n+1) {
    /* Span 1 column, starting in the 1st column from left. */
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -50%;
    clear: left;
  }
  /* line 123, ../../sass/layouts/480.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(3n+2) {
    /* Span 1 column, starting in the 2nd column from left. */
    float: left;
    width: 50%;
    margin-left: 50%;
    margin-right: -100%;
  }
  /* line 126, ../../sass/layouts/480.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(3n) {
    /* Span 1 column, starting in the 3rd column from left. */
    float: left;
    width: 50%;
    margin-left: 100%;
    margin-right: -150%;
  }

  /* line 133, ../../sass/layouts/480.scss */
  #footer .block {
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-left: 0;
    padding-right: 15px;
    margin-right: 5px;
  }
}
