/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
@media all and (min-width: 960px) {
  /** The layout when there are no sidebars.*/
  /* line 41, ../../sass/layouts/960.scss */
  .no-sidebars {
    /* Content area */
  }
  /* line 45, ../../sass/layouts/960.scss */
  .no-sidebars #content {
    /* Span 3 columns, starting in 1st column from left. */
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    clear: left;
  }
  /* line 50, ../../sass/layouts/960.scss */
  .no-sidebars #content .div1_1 {
    float: left;
    width: 33.333%;
    margin-left: 0%;
    margin-right: -33.333%;
  }
  /* line 53, ../../sass/layouts/960.scss */
  .no-sidebars #content .div1_2 {
    float: left;
    width: 33.333%;
    margin-left: 33.333%;
    margin-right: -66.667%;
  }
  /* line 56, ../../sass/layouts/960.scss */
  .no-sidebars #content .div1_3 {
    float: left;
    width: 33.333%;
    margin-left: 66.667%;
    margin-right: -100%;
  }
  /* line 59, ../../sass/layouts/960.scss */
  .no-sidebars #content .div2_1 {
    float: left;
    width: 66.667%;
    margin-left: 0%;
    margin-right: -66.667%;
  }
  /* line 62, ../../sass/layouts/960.scss */
  .no-sidebars #content .div2_2 {
    float: left;
    width: 66.667%;
    margin-left: 33.333%;
    margin-right: -100%;
  }
  /* line 65, ../../sass/layouts/960.scss */
  .no-sidebars #content .div3_1 {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
  }

  /** The layout when there is only one sidebar, the left one.*/
  /* line 74, ../../sass/layouts/960.scss */
  .sidebar-first {
    /* Cotent area */
    /* Left column */
  }
  /* line 78, ../../sass/layouts/960.scss */
  .sidebar-first #content {
    /* Span 3 columns, starting in 2nd column from left. */
    float: left;
    width: 100%;
    margin-left: 33.333%;
    margin-right: -133.333%;
  }
  /* line 81, ../../sass/layouts/960.scss */
  .sidebar-first #content .div1_2 {
    float: left;
    width: 33.333%;
    margin-left: 33.333%;
    margin-right: -66.667%;
  }
  /* line 84, ../../sass/layouts/960.scss */
  .sidebar-first #content .div1_3 {
    float: left;
    width: 33.333%;
    margin-left: 66.667%;
    margin-right: -100%;
  }
  /* line 87, ../../sass/layouts/960.scss */
  .sidebar-first #content .div2_2 {
    float: left;
    width: 66.667%;
    margin-left: 33.333%;
    margin-right: -100%;
  }
  /* line 93, ../../sass/layouts/960.scss */
  .sidebar-first .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: left;
    width: 33.333%;
    margin-left: 0%;
    margin-right: -33.333%;
  }

  /** The layout when there are two sidebars.*/
  /* line 103, ../../sass/layouts/960.scss */
  .two-sidebars #content {
    /* Span 3 columns, starting in 2nd column from left. */
    float: left;
    width: 100%;
    margin-left: 33.333%;
    margin-right: -133.333%;
  }
  /* line 106, ../../sass/layouts/960.scss */
  .two-sidebars #content .div1_2 {
    float: left;
    width: 33.333%;
    margin-left: 33.333%;
    margin-right: -66.667%;
  }
  /* line 111, ../../sass/layouts/960.scss */
  .two-sidebars .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: left;
    width: 33.333%;
    margin-left: 0%;
    margin-right: -33.333%;
  }
  /* line 115, ../../sass/layouts/960.scss */
  .two-sidebars .region-sidebar-second {
    /* Span 1 column, starting in 5th column from left. */
    float: left;
    width: 33.333%;
    margin-left: 66.667%;
    margin-right: -100%;
  }

  /** Footer */
  /* line 122, ../../sass/layouts/960.scss */
  #footer .block {
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-left: 0;
    padding-right: 15px;
    margin-right: 5px;
  }
}
