/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
@media all and (min-width: 1200px) {
  /* line 32, ../../sass/layouts/desktop1200.scss */
  #page, .region-bottom {
    max-width: 1200px;
  }

  /* line 36, ../../sass/layouts/desktop1200.scss */
  #toolbar div.toolbar-menu {
    max-width: 1180px;
  }

  /** NO SIDEBARS */
  /* line 52, /Volumes/development/sites/all/themes/opin/sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .no-sidebars #content:before, .no-sidebars #content:after {
    content: "";
    display: table;
  }
  /* line 56, /Volumes/development/sites/all/themes/opin/sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .no-sidebars #content:after {
    clear: both;
  }
  /* line 52, ../../sass/layouts/desktop1200.scss */
  .no-sidebars #content .what-we-do {
    width: 35%;
    padding-right: 20px;
    float: left;
  }
  /* line 57, ../../sass/layouts/desktop1200.scss */
  .no-sidebars #content .our-services {
    width: 60%;
    padding-left: 20px;
    float: right;
  }
  /* line 62, ../../sass/layouts/desktop1200.scss */
  .no-sidebars #content .case-study {
    width: 100%;
  }
  /* line 65, ../../sass/layouts/desktop1200.scss */
  .no-sidebars #content .case-study .first-column {
    width: 23%;
    padding-right: 20px;
    text-align: center;
    float: left;
  }
  /* line 72, ../../sass/layouts/desktop1200.scss */
  .no-sidebars #content .case-study .column {
    width: 23.5%;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    float: left;
  }
  /* line 80, ../../sass/layouts/desktop1200.scss */
  .no-sidebars #content .case-study .last-column {
    width: 23%;
    padding-left: 20px;
    text-align: center;
    float: left;
  }
  /* line 89, ../../sass/layouts/desktop1200.scss */
  .no-sidebars #content .products {
    width: 70%;
    padding-right: 20px;
    float: left;
  }
  /* line 94, ../../sass/layouts/desktop1200.scss */
  .no-sidebars #content .news {
    width: 25%;
    padding-left: 20px;
    float: right;
  }
  /* line 99, ../../sass/layouts/desktop1200.scss */
  .no-sidebars #content .popular-searches {
    width: 50%;
    padding-right: 20px;
    float: left;
  }
  /* line 104, ../../sass/layouts/desktop1200.scss */
  .no-sidebars #content .testimonials {
    width: 45%;
    padding-left: 20px;
    float: right;
  }

  /** LEFT SIDE BAR */
  /* line 116, ../../sass/layouts/desktop1200.scss */
  .sidebar-first #content {
    float: left;
    width: 75%;
    margin-left: 25%;
    margin-right: -100%;
  }
  /* line 119, ../../sass/layouts/desktop1200.scss */
  .sidebar-first .region-sidebar-first {
    float: left;
    width: 25%;
    margin-left: 0%;
    margin-right: -25%;
  }

  /** TWO SIDE BARS */
  /* line 128, ../../sass/layouts/desktop1200.scss */
  .two-sidebars #content {
    float: left;
    width: 56.25%;
    margin-left: 18.75%;
    margin-right: -75%;
  }
  /* line 131, ../../sass/layouts/desktop1200.scss */
  .two-sidebars .region-sidebar-first {
    float: left;
    width: 18.75%;
    margin-left: 0%;
    margin-right: -18.75%;
  }
  /* line 134, ../../sass/layouts/desktop1200.scss */
  .two-sidebars .region-sidebar-second {
    float: left;
    width: 25%;
    margin-left: 75%;
    margin-right: -100%;
  }

  /** FOOTER */
  /* line 52, /Volumes/development/sites/all/themes/opin/sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .region-footer:before, .region-footer:after {
    content: "";
    display: table;
  }
  /* line 56, /Volumes/development/sites/all/themes/opin/sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .region-footer:after {
    clear: both;
  }
  /* line 143, ../../sass/layouts/desktop1200.scss */
  .region-footer .block {
    width: 25%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-left: 0;
    padding-right: 30px;
    margin-right: 10px;
    margin: 0;
  }
}
