/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
@media all and (max-width: 700px) {
  /* line 32, ../../sass/layouts/desktop385.scss */
  #page, .region-bottom {
    max-width: 700px;
  }

  /* line 36, ../../sass/layouts/desktop385.scss */
  .disappear960, .disappear760 {
    display: none;
  }

  /* line 40, ../../sass/layouts/desktop385.scss */
  #toolbar-menu {
    display: none;
  }

  /* line 44, ../../sass/layouts/desktop385.scss */
  #content-header ul.primary,
  #content-header ul.secondary {
    float: left;
    clear: both;
    margin: 0 0 10px 0;
  }
  /* line 49, ../../sass/layouts/desktop385.scss */
  #content-header ul.primary li,
  #content-header ul.secondary li {
    float: left;
    margin: 0 6px 0 0;
  }

  /* line 56, ../../sass/layouts/desktop385.scss */
  #main-menu ul .menu-218 {
    display: none;
  }

  /* line 59, ../../sass/layouts/desktop385.scss */
  #block-search-form {
    display: none;
  }

  /** NO SIDEBARS */
  /* line 52, ../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .no-sidebars #content:before, .no-sidebars #content:after {
    content: "";
    display: table;
  }
  /* line 56, ../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .no-sidebars #content:after {
    clear: both;
  }
  /* line 86, ../../sass/layouts/desktop385.scss */
  .no-sidebars #content .products {
    display: none;
  }
  /* line 89, ../../sass/layouts/desktop385.scss */
  .no-sidebars #content .testimonials {
    display: none;
  }

  /** LEFT SIDE BAR */
  /** TWO SIDE BARS */
  /** FOOTER */
  /* line 116, ../../sass/layouts/desktop385.scss */
  .region-footer {
    display: none;
  }
}
