/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
@media all and (min-width: 705px) and (max-width: 959px) {
  /* line 32, ../../sass/layouts/desktop760.scss */
  #page, .region-bottom {
    max-width: 705px;
  }

  /* line 36, ../../sass/layouts/desktop760.scss */
  .disappear960, .disappear760 {
    display: none;
  }

  /* line 40, ../../sass/layouts/desktop760.scss */
  #toolbar-menu {
    display: none;
  }

  /** NO SIDEBARS */
  /* line 52, ../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .no-sidebars #content:before, .no-sidebars #content:after {
    content: "";
    display: table;
  }
  /* line 56, ../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .no-sidebars #content:after {
    clear: both;
  }
  /* line 68, ../../sass/layouts/desktop760.scss */
  .no-sidebars #content .testimonials {
    display: none;
  }

  /** LEFT SIDE BAR */
  /* line 76, ../../sass/layouts/desktop760.scss */
  .sidebar-first #content {
    float: left;
    width: 75%;
    margin-left: 25%;
    margin-right: -100%;
  }
  /* line 79, ../../sass/layouts/desktop760.scss */
  .sidebar-first .region-sidebar-first {
    float: left;
    width: 25%;
    margin-left: 0%;
    margin-right: -25%;
  }

  /** TWO SIDE BARS */
  /** FOOTER */
  /* line 52, ../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .region-footer:before, .region-footer:after {
    content: "";
    display: table;
  }
  /* line 56, ../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .region-footer:after {
    clear: both;
  }
  /* line 100, ../../sass/layouts/desktop760.scss */
  .region-footer .block {
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-left: 0;
    padding-right: 15px;
    margin-right: 5px;
    margin: 0;
    font-size: 0.8em;
  }
}
