/**
 * @file
 * RTL companion for the responsive-sidebars.css file.
 */
/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
/*
 * Center the pagetest
 */
/* line 18, /Volumes/development/sites/all/themes/opin/sass/layouts/responsive-sidebars.scss */
#page,
.region-bottom {
  /* For screen sizes larger than 1200px, prevent excessively long lines of text
     by setting a max-width. */
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

/*
 * Apply the shared properties of grid items in a single, efficient ruleset.
 */
/* line 35, /Volumes/development/sites/all/themes/opin/sass/layouts/responsive-sidebars.scss */
#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/*
 * Containers for grid items and flow items.
 */
/* line 52, /Volumes/development/sites/all/themes/opin/sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#header:before, #header:after,
#main:before,
#main:after,
#footer:before,
#footer:after {
  content: "";
  display: table;
}
/* line 56, /Volumes/development/sites/all/themes/opin/sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#header:after,
#main:after,
#footer:after {
  clear: both;
}

/*
 * Navigation bar
 */
/* line 54, /Volumes/development/sites/all/themes/opin/sass/layouts/responsive-sidebars.scss */
#main {
  padding-top: 3em;
  /* Move all the children of #main down to make room. */
  position: relative;
}

/* line 58, /Volumes/development/sites/all/themes/opin/sass/layouts/responsive-sidebars.scss */
#navigation {
  position: absolute;
  top: 0;
  /* Move the navbar up inside #main's padding. */
  height: 3em;
  width: 100%;
}

/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 35, /Volumes/development/sites/all/themes/opin/sass/layouts/smartphone.scss */
  #page, .region-bottom {
    max-width: 320px;
  }

  /** NO SIDEBARS */
  /* line 52, /Volumes/development/sites/all/themes/opin/sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .no-sidebars #content:before, .no-sidebars #content:after {
    content: "";
    display: table;
  }
  /* line 56, /Volumes/development/sites/all/themes/opin/sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .no-sidebars #content:after {
    clear: both;
  }
  /* line 49, /Volumes/development/sites/all/themes/opin/sass/layouts/smartphone.scss */
  .no-sidebars #content .what-we-do {
    float: right;
    width: 25%;
    margin-right: 0%;
    margin-left: -25%;
    padding-right: 10px;
  }
  /* line 53, /Volumes/development/sites/all/themes/opin/sass/layouts/smartphone.scss */
  .no-sidebars #content .services {
    float: right;
    width: 75%;
    margin-right: 25%;
    margin-left: -100%;
    padding-left: 10px;
  }
  /* line 57, /Volumes/development/sites/all/themes/opin/sass/layouts/smartphone.scss */
  .no-sidebars #content .our-vision {
    float: right;
    width: 25%;
    margin-right: 0%;
    margin-left: -25%;
    padding-right: 10px;
    clear: right;
  }
  /* line 62, /Volumes/development/sites/all/themes/opin/sass/layouts/smartphone.scss */
  .no-sidebars #content .news {
    float: right;
    width: 25%;
    margin-right: 25%;
    margin-left: -50%;
    padding-left: 10px;
    padding-right: 10px;
  }
  /* line 67, /Volumes/development/sites/all/themes/opin/sass/layouts/smartphone.scss */
  .no-sidebars #content .testimonials {
    float: right;
    width: 43.75%;
    margin-right: 50%;
    margin-left: -93.75%;
    padding-left: 10px;
  }
  /* line 71, /Volumes/development/sites/all/themes/opin/sass/layouts/smartphone.scss */
  .no-sidebars #content .popular-searches {
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
    clear: right;
  }

  /** LEFT SIDE BAR */
  /** TWO SIDE BARS */
  /** FOOTER */
}
/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  /* line 35, /Volumes/development/sites/all/themes/opin/sass/layouts/iphone4.scss */
  #page, .region-bottom {
    max-width: 960px;
  }

  /** NO SIDEBARS */
  /* line 52, /Volumes/development/sites/all/themes/opin/sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .no-sidebars #content:before, .no-sidebars #content:after {
    content: "";
    display: table;
  }
  /* line 56, /Volumes/development/sites/all/themes/opin/sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .no-sidebars #content:after {
    clear: both;
  }
  /* line 49, /Volumes/development/sites/all/themes/opin/sass/layouts/iphone4.scss */
  .no-sidebars #content .what-we-do {
    float: right;
    width: 25%;
    margin-right: 0%;
    margin-left: -25%;
    padding-right: 10px;
  }
  /* line 53, /Volumes/development/sites/all/themes/opin/sass/layouts/iphone4.scss */
  .no-sidebars #content .services {
    float: right;
    width: 75%;
    margin-right: 25%;
    margin-left: -100%;
    padding-left: 10px;
  }
  /* line 57, /Volumes/development/sites/all/themes/opin/sass/layouts/iphone4.scss */
  .no-sidebars #content .our-vision {
    float: right;
    width: 25%;
    margin-right: 0%;
    margin-left: -25%;
    padding-right: 10px;
    clear: right;
  }
  /* line 62, /Volumes/development/sites/all/themes/opin/sass/layouts/iphone4.scss */
  .no-sidebars #content .news {
    float: right;
    width: 25%;
    margin-right: 25%;
    margin-left: -50%;
    padding-left: 10px;
    padding-right: 10px;
  }
  /* line 67, /Volumes/development/sites/all/themes/opin/sass/layouts/iphone4.scss */
  .no-sidebars #content .testimonials {
    float: right;
    width: 43.75%;
    margin-right: 50%;
    margin-left: -93.75%;
    padding-left: 10px;
  }
  /* line 71, /Volumes/development/sites/all/themes/opin/sass/layouts/iphone4.scss */
  .no-sidebars #content .popular-searches {
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
    clear: right;
  }

  /** LEFT SIDE BAR */
  /** TWO SIDE BARS */
  /** FOOTER */
}
/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
/* iPads ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 36, /Volumes/development/sites/all/themes/opin/sass/layouts/ipad.scss */
  #page, .region-bottom {
    max-width: 768px;
  }

  /** NO SIDEBARS */
  /* line 52, /Volumes/development/sites/all/themes/opin/sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .no-sidebars #content:before, .no-sidebars #content:after {
    content: "";
    display: table;
  }
  /* line 56, /Volumes/development/sites/all/themes/opin/sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .no-sidebars #content:after {
    clear: both;
  }
  /* line 50, /Volumes/development/sites/all/themes/opin/sass/layouts/ipad.scss */
  .no-sidebars #content .what-we-do {
    float: right;
    width: 25%;
    margin-right: 0%;
    margin-left: -25%;
    padding-right: 10px;
  }
  /* line 54, /Volumes/development/sites/all/themes/opin/sass/layouts/ipad.scss */
  .no-sidebars #content .services {
    float: right;
    width: 75%;
    margin-right: 25%;
    margin-left: -100%;
    padding-left: 10px;
  }
  /* line 58, /Volumes/development/sites/all/themes/opin/sass/layouts/ipad.scss */
  .no-sidebars #content .our-vision {
    float: right;
    width: 25%;
    margin-right: 0%;
    margin-left: -25%;
    padding-right: 10px;
    clear: right;
  }
  /* line 63, /Volumes/development/sites/all/themes/opin/sass/layouts/ipad.scss */
  .no-sidebars #content .news {
    float: right;
    width: 25%;
    margin-right: 25%;
    margin-left: -50%;
    padding-left: 10px;
    padding-right: 10px;
  }
  /* line 68, /Volumes/development/sites/all/themes/opin/sass/layouts/ipad.scss */
  .no-sidebars #content .testimonials {
    float: right;
    width: 43.75%;
    margin-right: 50%;
    margin-left: -93.75%;
    padding-left: 10px;
  }
  /* line 72, /Volumes/development/sites/all/themes/opin/sass/layouts/ipad.scss */
  .no-sidebars #content .popular-searches {
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
    clear: right;
  }

  /** LEFT SIDE BAR */
  /** TWO SIDE BARS */
  /** FOOTER */
}
/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
@media all and (max-width: 700px) {
  /* line 32, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop385.scss */
  #page, .region-bottom {
    max-width: 700px;
  }

  /* line 36, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop385.scss */
  .disappear960, .disappear760 {
    display: none;
  }

  /* line 40, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop385.scss */
  #toolbar-menu {
    display: none;
  }

  /* line 44, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop385.scss */
  #content-header ul.primary,
  #content-header ul.secondary {
    float: left;
    clear: both;
    margin: 0 0 10px 0;
  }
  /* line 49, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop385.scss */
  #content-header ul.primary li,
  #content-header ul.secondary li {
    float: left;
    margin: 0 6px 0 0;
  }

  /* line 56, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop385.scss */
  #main-menu ul .menu-218 {
    display: none;
  }

  /* line 59, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop385.scss */
  #block-search-form {
    display: none;
  }

  /** NO SIDEBARS */
  /* line 52, /Volumes/development/sites/all/themes/opin/sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .no-sidebars #content:before, .no-sidebars #content:after {
    content: "";
    display: table;
  }
  /* line 56, /Volumes/development/sites/all/themes/opin/sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .no-sidebars #content:after {
    clear: both;
  }
  /* line 86, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop385.scss */
  .no-sidebars #content .products {
    display: none;
  }
  /* line 89, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop385.scss */
  .no-sidebars #content .testimonials {
    display: none;
  }

  /** LEFT SIDE BAR */
  /** TWO SIDE BARS */
  /** FOOTER */
  /* line 116, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop385.scss */
  .region-footer {
    display: none;
  }
}
/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
@media all and (min-width: 705px) and (max-width: 959px) {
  /* line 32, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop760.scss */
  #page, .region-bottom {
    max-width: 705px;
  }

  /* line 36, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop760.scss */
  .disappear960, .disappear760 {
    display: none;
  }

  /* line 40, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop760.scss */
  #toolbar-menu {
    display: none;
  }

  /** NO SIDEBARS */
  /* line 52, /Volumes/development/sites/all/themes/opin/sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .no-sidebars #content:before, .no-sidebars #content:after {
    content: "";
    display: table;
  }
  /* line 56, /Volumes/development/sites/all/themes/opin/sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .no-sidebars #content:after {
    clear: both;
  }
  /* line 68, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop760.scss */
  .no-sidebars #content .testimonials {
    display: none;
  }

  /** LEFT SIDE BAR */
  /* line 76, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop760.scss */
  .sidebar-first #content {
    float: right;
    width: 75%;
    margin-right: 25%;
    margin-left: -100%;
  }
  /* line 79, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop760.scss */
  .sidebar-first .region-sidebar-first {
    float: right;
    width: 25%;
    margin-right: 0%;
    margin-left: -25%;
  }

  /** TWO SIDE BARS */
  /** FOOTER */
  /* line 52, /Volumes/development/sites/all/themes/opin/sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .region-footer:before, .region-footer:after {
    content: "";
    display: table;
  }
  /* line 56, /Volumes/development/sites/all/themes/opin/sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .region-footer:after {
    clear: both;
  }
  /* line 100, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop760.scss */
  .region-footer .block {
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-right: 0;
    padding-left: 15px;
    margin-left: 5px;
    margin: 0;
    font-size: 0.8em;
  }
}
/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
@media all and (min-width: 960px) and (max-width: 1199px) {
  /* line 32, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop960.scss */
  #page, .region-bottom {
    max-width: 960px;
  }

  /* line 36, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop960.scss */
  #toolbar div.toolbar-menu {
    max-width: 960px;
  }

  /* line 40, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop960.scss */
  .disappear960 {
    display: none;
  }

  /** NO SIDEBARS */
  /* line 52, /Volumes/development/sites/all/themes/opin/sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .no-sidebars #content:before, .no-sidebars #content:after {
    content: "";
    display: table;
  }
  /* line 56, /Volumes/development/sites/all/themes/opin/sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .no-sidebars #content:after {
    clear: both;
  }
  /* line 57, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop960.scss */
  .no-sidebars #content .what-we-do {
    width: 47.5%;
    padding-right: 20px;
    float: left;
  }
  /* line 62, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop960.scss */
  .no-sidebars #content .our-services {
    width: 47.5%;
    padding-left: 20px;
    float: right;
  }
  /* line 67, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop960.scss */
  .no-sidebars #content .case-study {
    width: 100%;
  }
  /* line 70, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop960.scss */
  .no-sidebars #content .case-study .first-column {
    width: 22%;
    padding-right: 20px;
    text-align: center;
    float: left;
  }
  /* line 77, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop960.scss */
  .no-sidebars #content .case-study .column {
    width: 22%;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    float: left;
  }
  /* line 85, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop960.scss */
  .no-sidebars #content .case-study .last-column {
    width: 22%;
    padding-left: 20px;
    text-align: center;
    float: left;
  }
  /* line 94, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop960.scss */
  .no-sidebars #content .products {
    width: 70%;
    padding-right: 20px;
    float: left;
  }
  /* line 99, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop960.scss */
  .no-sidebars #content .news {
    width: 25%;
    padding-left: 20px;
    float: right;
  }
  /* line 104, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop960.scss */
  .no-sidebars #content .popular-searches {
    width: 50%;
    float: left;
  }
  /* line 107, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop960.scss */
  .no-sidebars #content .popular-searches ul {
    padding-right: 20px;
  }
  /* line 110, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop960.scss */
  .no-sidebars #content .testimonials {
    width: 50%;
    float: right;
  }

  /** LEFT SIDE BAR */
  /* line 121, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop960.scss */
  .sidebar-first #content {
    float: right;
    width: 75%;
    margin-right: 25%;
    margin-left: -100%;
  }
  /* line 124, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop960.scss */
  .sidebar-first .region-sidebar-first {
    float: right;
    width: 25%;
    margin-right: 0%;
    margin-left: -25%;
  }

  /** TWO SIDE BARS */
  /* line 133, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop960.scss */
  .two-sidebars #content {
    float: right;
    width: 56.25%;
    margin-right: 18.75%;
    margin-left: -75%;
  }
  /* line 136, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop960.scss */
  .two-sidebars .region-sidebar-first {
    float: right;
    width: 18.75%;
    margin-right: 0%;
    margin-left: -18.75%;
  }
  /* line 139, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop960.scss */
  .two-sidebars .region-sidebar-second {
    float: right;
    width: 25%;
    margin-right: 75%;
    margin-left: -100%;
  }

  /** FOOTER */
  /* line 52, /Volumes/development/sites/all/themes/opin/sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .region-footer:before, .region-footer:after {
    content: "";
    display: table;
  }
  /* line 56, /Volumes/development/sites/all/themes/opin/sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .region-footer:after {
    clear: both;
  }
  /* line 148, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop960.scss */
  .region-footer .block {
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-right: 0;
    padding-left: 15px;
    margin-left: 5px;
    margin: 0;
  }
}
/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
@media all and (min-width: 1200px) {
  /* line 32, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop1200.scss */
  #page, .region-bottom {
    max-width: 1200px;
  }

  /* line 36, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop1200.scss */
  #toolbar div.toolbar-menu {
    max-width: 1180px;
  }

  /** NO SIDEBARS */
  /* line 52, /Volumes/development/sites/all/themes/opin/sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .no-sidebars #content:before, .no-sidebars #content:after {
    content: "";
    display: table;
  }
  /* line 56, /Volumes/development/sites/all/themes/opin/sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .no-sidebars #content:after {
    clear: both;
  }
  /* line 52, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop1200.scss */
  .no-sidebars #content .what-we-do {
    width: 35%;
    padding-right: 20px;
    float: left;
  }
  /* line 57, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop1200.scss */
  .no-sidebars #content .our-services {
    width: 60%;
    padding-left: 20px;
    float: right;
  }
  /* line 62, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop1200.scss */
  .no-sidebars #content .case-study {
    width: 100%;
  }
  /* line 65, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop1200.scss */
  .no-sidebars #content .case-study .first-column {
    width: 23%;
    padding-right: 20px;
    text-align: center;
    float: left;
  }
  /* line 72, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop1200.scss */
  .no-sidebars #content .case-study .column {
    width: 23.5%;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    float: left;
  }
  /* line 80, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop1200.scss */
  .no-sidebars #content .case-study .last-column {
    width: 23%;
    padding-left: 20px;
    text-align: center;
    float: left;
  }
  /* line 89, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop1200.scss */
  .no-sidebars #content .products {
    width: 70%;
    padding-right: 20px;
    float: left;
  }
  /* line 94, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop1200.scss */
  .no-sidebars #content .news {
    width: 25%;
    padding-left: 20px;
    float: right;
  }
  /* line 99, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop1200.scss */
  .no-sidebars #content .popular-searches {
    width: 50%;
    padding-right: 20px;
    float: left;
  }
  /* line 104, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop1200.scss */
  .no-sidebars #content .testimonials {
    width: 45%;
    padding-left: 20px;
    float: right;
  }

  /** LEFT SIDE BAR */
  /* line 116, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop1200.scss */
  .sidebar-first #content {
    float: right;
    width: 75%;
    margin-right: 25%;
    margin-left: -100%;
  }
  /* line 119, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop1200.scss */
  .sidebar-first .region-sidebar-first {
    float: right;
    width: 25%;
    margin-right: 0%;
    margin-left: -25%;
  }

  /** TWO SIDE BARS */
  /* line 128, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop1200.scss */
  .two-sidebars #content {
    float: right;
    width: 56.25%;
    margin-right: 18.75%;
    margin-left: -75%;
  }
  /* line 131, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop1200.scss */
  .two-sidebars .region-sidebar-first {
    float: right;
    width: 18.75%;
    margin-right: 0%;
    margin-left: -18.75%;
  }
  /* line 134, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop1200.scss */
  .two-sidebars .region-sidebar-second {
    float: right;
    width: 25%;
    margin-right: 75%;
    margin-left: -100%;
  }

  /** FOOTER */
  /* line 52, /Volumes/development/sites/all/themes/opin/sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .region-footer:before, .region-footer:after {
    content: "";
    display: table;
  }
  /* line 56, /Volumes/development/sites/all/themes/opin/sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .region-footer:after {
    clear: both;
  }
  /* line 143, /Volumes/development/sites/all/themes/opin/sass/layouts/desktop1200.scss */
  .region-footer .block {
    width: 25%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-right: 0;
    padding-left: 30px;
    margin-left: 10px;
    margin: 0;
  }
}
