/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 35, ../../sass/layouts/smartphone.scss */
  #page, .region-bottom {
    max-width: 320px;
  }

  /** NO SIDEBARS */
  /* line 52, ../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .no-sidebars #content:before, .no-sidebars #content:after {
    content: "";
    display: table;
  }
  /* line 56, ../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .no-sidebars #content:after {
    clear: both;
  }
  /* line 49, ../../sass/layouts/smartphone.scss */
  .no-sidebars #content .what-we-do {
    float: left;
    width: 25%;
    margin-left: 0%;
    margin-right: -25%;
    padding-right: 10px;
  }
  /* line 53, ../../sass/layouts/smartphone.scss */
  .no-sidebars #content .services {
    float: left;
    width: 75%;
    margin-left: 25%;
    margin-right: -100%;
    padding-left: 10px;
  }
  /* line 57, ../../sass/layouts/smartphone.scss */
  .no-sidebars #content .our-vision {
    float: left;
    width: 25%;
    margin-left: 0%;
    margin-right: -25%;
    padding-right: 10px;
    clear: left;
  }
  /* line 62, ../../sass/layouts/smartphone.scss */
  .no-sidebars #content .news {
    float: left;
    width: 25%;
    margin-left: 25%;
    margin-right: -50%;
    padding-left: 10px;
    padding-right: 10px;
  }
  /* line 67, ../../sass/layouts/smartphone.scss */
  .no-sidebars #content .testimonials {
    float: left;
    width: 43.75%;
    margin-left: 50%;
    margin-right: -93.75%;
    padding-left: 10px;
  }
  /* line 71, ../../sass/layouts/smartphone.scss */
  .no-sidebars #content .popular-searches {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    clear: left;
  }

  /** LEFT SIDE BAR */
  /** TWO SIDE BARS */
  /** FOOTER */
}
