/**
 * @file
 * Block Styling
 */

@import "base";


.block { /* Block wrapper */
  margin-bottom: 1.5em;

  a { 
    color: #005580;
    text-decoration: none;
  }
  a:hover, a:focus { 
    color: #333;
    text-decoration: underline;	
  }

  &.first { /* The first block in the region */
  }

  &.last { /* The last block in the region */
  }

  &.odd { /* Zebra striping for each block in the region */
  }

  &.even { /* Zebra striping for each block in the region */
  }

  .block-title { /* Block title */
    text-transform: uppercase;
    font-size: 0.8em; 
  }

}


#block-aggregator-category-1 { /* Block for the latest news items in the first category */
}

#block-aggregator-feed-1 { /* Block for the latest news items in the first feed */
}

#block-block-1 { /* First block created with "Add block" link */
}

#block-blog-recent { /* "Recent blog posts" block */
}

#block-book-navigation { /* "Book navigation" block for the current book's table of contents */
}

#block-comment-recent { /* "Recent comments" block */
}

#block-forum-active { /* "Active forum topics" block */
}

#block-forum-new { /* "New forum topics" block */
}

#block-locale-language { /* Language switcher block */
}

#block-menu-menu-NAME { /* Custom menu block */
}

#block-node-recent { /* "Recent content" block */
}

#block-node-syndicate { /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

#block-poll-recent { /* "Most recent poll" block */
}

#block-profile-author-information { /* "Author information" block for the profile of the page's author */
}

#block-search-form { /* "Search form" block */
  float: right;
  margin-top: 5px;
  margin-bottom:0;
}

#block-shortcut-shortcuts { /* "Shortcuts" block */
}

#block-statistics-popular { /* "Popular content" block */
}

#block-system-main-menu { /* "Main menu" block */
}

#block-system-management { /* "Management" block for Drupal management menu */
}

#block-system-navigation { /* "Navigation" block for Drupal navigation menu */
}

#block-system-user-menu { /* "User menu" block for Drupal user menu */
}

#block-system-help { /* "System help" block */
}

#block-system-main { /* "Main page content" block */
}

#block-system-powered-by { /* "Powered by Drupal" block */
}

#block-user-login { /* "User login form" block */
}

#block-user-new { /* "Who's new" block for a list of the newest users */
}

#block-user-online { /* "Who's online" block for a list of the online users */
}

#block-views-slideshow-block {
  border-bottom: 1px solid #ddd;
}

/* Custom block: Services */ 

#services-overview {

    margin:1.5em 0 0 0;
    padding: 0;
    list-style: none;
    width: 100%;
    display: inline-block;

    li {
      float: left;
      width: 200px;
      border: 1px solid #ddd;
      margin-right: 10px;
      padding: 3px;

      h5 {
        margin: 0;
        padding: 0 10px;
        font-size: 1em;
        a { 
          color: #005580;
          text-decoration: none;
        }
        a:hover, a:focus { 
          color: #333;
          text-decoration: underline;	
        }
      }

      p {
        margin: 0;
        padding: 10px;
      }
    }
  } 

#block-block-9 { /* Custom block: Popular searches */ 
  ul {
    padding-right:80px;
    float: left; 
    li {
      a { 
        color: #005580;
        text-decoration: none;
      }
      a:hover, a:focus { 
        color: #333;
        text-decoration: underline;	
      }
    }
  }
}	

#block-views-news-block {

  a { 
    color: #005580;
    text-decoration: none;
  }
  a:hover, a:focus { 
    color: #333;
    text-decoration: underline;	
  }

  .views-row {
    padding: 15px 0;
    border-bottom: 1px solid #ddd;    
  }

  .views-row-last {
    border: none;
  }
}

#block-block-10 {
  float: right;
  margin:0;
  padding-top: 5px;
}

#block-views-product-slider-block {

  .field-name-field-image {
    float: left;
  }

  .product-description {
    float: left;
    width: 50%;

    h3 {
      font-size:1.4em;
      margin:0;
    } 
  }
}

#block-block-12 {

  display: inline-block;
  margin: 1.5em 0;

  h2.block-title { /* Block title */
    display: none;
  }

  div {
    display: block;

    p {
      margin-bottom: 0;
    }

    h3 {
      margin-top: 0;
    }

  }

}