/**
 * @file
 * Comment Styling
 */

@import "base";


.comments { /* Wrapper for the list of comments and its title */
  margin: 1.5em 0;

  h2.title { /* Heading for the list of comments */
  }

  h2.comment-form { /* Heading for the comment form */
  }
}

.comment { /* Wrapper for a single comment */

  &.comment-preview { /* Preview of the comment before submitting new or updated comment */
    background-color: #ffffea; /* Drupal core will use a #ffffea background. See #1110842 */
  }

  &.new { /* A new comment since the user last viewed the page. */
  }

  &.first { /* The first comment in the list of comments */
  }

  &.last { /* The last comment in the list of comments */
  }

  &.odd { /* An odd-numbered comment in the list of comments */
  }

  &.even { /* An even-numbered comment in the list of comments */
  }

  &.comment-by-anonymous { /* A comment created by an anonymous user */
  }

  &.comment-by-node-author { /* A comment created by the node's author */
  }

  &.comment-by-viewer { /* A comment created by the current user */
  }

  h3.comment-title { /* Comment title */
  }

  .new { /* "New" marker for comments that are new for the current user */
    color: #c00;
  }

  .user-picture { /* The picture of the comment author */
  }

  .submitted { /* The "posted by" information */
  }

  .permalink { /* Comment's permalink wrapper */
    text-transform: uppercase;
    font-size: 75%;
  }

  .user-signature { /* The user's signature */
  }

  ul.links { /* Comment links. See also the ul.links declaration in the pages.css. */
  }
}

.indented { /* Nested comments are indented */
  margin-left: $indent-amount; /* Drupal core uses a 25px left margin */
}

.comment-unpublished { /* Unpublished comments */
  background-color: #fff;
}
