/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */

@import "base";


.node { /* Node wrapper */

	 .preview & { /* Preview of the content before submitting new or updated content */
	   /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
	 }

	 .node-title { /* Node title */
	 }

	 .user-picture { /* The picture of the node author */
	 }

	 .submitted { /* The "posted by" information */
	 }
	 
	 .content { /* Node's content wrapper */
	 }
	
	 ul.links { /* Node links. See also the ul.links declaration in the pages.css. */
	 }

}

.node-promoted { /* A node that has been promoted to the front page */
}

.node-sticky { /* A sticky node (displayed before others in a list) */
}

.node-by-viewer { /* A node created by the current user */
}

.node-teaser { /* A node displayed as teaser */
}

.node-unpublished { /* Unpublished nodes */
  background-color: #fff ;
}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */

.node-page { /* Page content node */

	a { 
	  color: #005580;
	  text-decoration: none;
	}
	a:hover, a:focus { 
	  text-decoration: underline;
	}

	.preview & { /* Preview of the content before submitting new or updated content */
	  /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
	}

	.title { /* Node title */
	  color: white;
	}
	
	.sub-title { /* Node sub title */
	  color: #ccc;
	  margin:0;
	}	

	.user-picture { /* The picture of the node author */
	}
	
	.field-name-field-featured-image {
	  line-height: 0;
      padding-bottom:10px;
      border-bottom: 1px solid #ddd;
  	  img {
	    border-radius: 5px;
	    -moz-border-radius: 5px;
  	    -webkit-border-radius: 5px;
      }
	}
	
	.submitted { /* The "posted by" information */
	  color: #999;
	  margin: 0.2em 0;
	}

	.content { /* Node's content wrapper */
	  p {
	    margin: 1em 0;
	    line-height: 1.5em;
	  }
	}

	.field p {
	  margin: 10px 0;
	  line-height: 1.5em;
	}	

	ul {
	  margin: 10px 0;
	  line-height: 1.5em;
	}

	ul.links { /* Node links. See also the ul.links declaration in the pages.css. */
	}
	
}

.node-article { /* Article content node */

	a { 
	  color: #005580;
	  text-decoration: none;
	}
	a:hover, a:focus { 
  	  color: #333;
	  text-decoration: underline;	
	}

	.preview & { /* Preview of the content before submitting new or updated content */
	  /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
	}

	.node-title { /* Node title */
	}

	.user-picture { /* The picture of the node author */
	}
	
	.field-name-field-featured-image {
	  line-height: 0;
      padding-bottom:10px;
      border-bottom: 1px solid #ddd;
  	  img {
	    border-radius: 5px;
	    -moz-border-radius: 5px;
  	    -webkit-border-radius: 5px;
      }
	}
	
	.submitted { /* The "posted by" information */
	  color: #999;
	  margin: 0.2em 0;
	}

	.content { /* Node's content wrapper */
	  p {	  
	    margin: 1em 0;
	    line-height: 1.5em;
	  }
	}
	
	ul {

	  margin: 10px 0;
	  line-height: 1.5em;
	}	
	
    .field p {
	  margin: 10px 0;
      line-height: 1.5em;
    }	

	ul.links { /* Node links. See also the ul.links declaration in the pages.css. */
	}

}

.node-discussion { /* Questions content node */

	.group-left { 
	  width: 15%;
	}

	.group-right {
	  width: 85%;
	}

	a { 
	  color: #3B5998;
	  text-decoration: none;
	}

	a:hover, a:focus { 
	  text-decoration: underline;	
	}

	a.username { 
	  font-weight: bold;	 
	}

	h2.title {
	    margin-top: 1em;
	    margin-bottom: 1em;
    }

	.preview & { /* Preview of the content before submitting new or updated content */
	  /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
	}
	
	.field-name-ds-user-picture {
	  img { /* The picture of the node author */
	    width: 50px;
	    padding: 4px;
	    border: 1px solid #ddd;
	  }
	}
	
    .field-name-title {
	  h2 {
	    margin-top: 0;
	    margin-bottom: 0.5em;
      }
    }	

	.field-name-body {
	  p {
	    margin-top: 0.5em;
	    margin-bottom: 0.5em;
	  }
	}
	
	.field-name-post-date {
	  color: #999;
	  font-size: 0.9em;
	}
	
	ul.links { /* Node links. See also the ul.links declaration in the pages.css. */
	  margin: 1em 0;
	  
	  li {	
	    a {
	      font-size: 0.9em;
	    }
	  }
	}	
	
	.comment {

      padding-top: 1.5em;
      margin-top: 1.5em;
      border-top: 1px solid #ddd;

	  a.username {  
	    margin-right: 10px;
	  }
	
	  .field-name-ds-user-picture {
	    img { /* The picture of the node author */
	      width: 32px;
	      padding: 4px;
	      border: 1px solid #ddd;
	    }
	  }	
	
	  .field-name-comment-body {
	    display: inline; 
	    div {
	      display: inline;
	    }
	    p {
	      display: inline;
	      margin-top: 0.5em;
	      margin-bottom: 0.5em;	
	    }
	  }
	
	  &.last {
        padding-bottom: 1.5em;
        margin-bottom: 1.5em;
        border-bottom: 1px solid #ddd;	
	  }
	
	  ul.links { /* Node links. See also the ul.links declaration in the pages.css. */
	    margin: 0;
	    display: block;
	    li {	
	      a {
	        font-size: 0.9em;
	      }
	    }
	  }	
   }
}