/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */

@import "base";


/*
 * Body
 */

body {
  margin: 0;
  padding: 0;
  color: #333;
}

#page {
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;

  a,
  a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #fff;
  }
}

/*
 * Header
 */

#header { /* Wrapper for any blocks placed in the header region */
  margin-top:30px;
  margin-bottom:10px;
  clear: both; /* Clear the logo */
}

#logo { /* Wrapping link for logo */
  float: left; /* LTR */
  margin: 0;
  padding: 0;

  img {
    vertical-align: bottom;
  }
}

#name-and-slogan { /* Wrapper for website name and slogan */
  float: left;
}

#site-name { /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;

  a:link,
  a:visited {
    color: #000;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }
}

#site-slogan { /* The slogan (or tagline) of a website */
  margin: 5px 0 0 5px;
  font-size: 1em;
}

/*
 * Main (container for everything else)
 */

#main {
}

/*
 * Content
 */

#content {
  font-size: 0.8em;
  min-height: 500px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}



#content-header {
  padding-right: 10px;
  padding-left: 10px;
}

.region-highlighted {
}


/*
 * Breadcrumbs
 */

.breadcrumb { /* The path to the current page in the form of a list of links */
  ol {
 	  padding: 3px 10px;
      margin: 0 0 0.5em 0;
	  list-style: none;
	  clear: both;
	  background-color: #fbfbfb;
	  background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
	  background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
	  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5));
	  background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
	  background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
	  background-image: linear-gradient(top, #ffffff, #f5f5f5);
	  background-repeat: repeat-x;
	  border: 1px solid #ddd;
	  -webkit-border-radius: 3px;
	     -moz-border-radius: 3px;
	          border-radius: 3px;
	  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
	  -webkit-box-shadow: inset 0 1px 0 #ffffff;
	     -moz-box-shadow: inset 0 1px 0 #ffffff;
	          box-shadow: inset 0 1px 0 #ffffff;
  }
  li {
    display: inline-block;
    *display: inline;
    text-shadow: 0 1px 0 #ffffff;
    font-size: 0.7em;  
    *zoom: 1;
    padding: 0 5px 0 0;
  }
  a {
   color: #333333;
  }
  

}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
  margin: 0;
}

h1.title {  /* The title of the page */
  float: left;
  line-height: 1em;
  margin-bottom: 10px;
  max-width: 80%;
} 


tr.even { /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */

  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */
}

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;

  li {
    display: inline;
    list-style-type: none;
    padding: 0 1em 0 0; /* LTR */
  }
}
span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}


/*
 * Pager
 */

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */

  padding: 0;
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  *zoom: 1;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

    li { /* Each page number in the pager list */
      display: block;
      float: left;
      padding: 5px 10px;
      border: 1px solid #ddd;
	  border-left-width: 0;
   
      a {
        color: #005580;
	    text-decoration: none;
      }

      a:hover,
      a.active {
	    text-decoration: underline;
      }

   }
  
   li:first-child {
     border-left-width: 1px;
	 -webkit-border-radius: 3px 0 0 3px;
	   -moz-border-radius: 3px 0 0 3px;
	        border-radius: 3px 0 0 3px;
   }
	
   li:last-child {
     -webkit-border-radius: 0 3px 3px 0;
	   -moz-border-radius: 0 3px 3px 0;
	     border-radius: 0 3px 3px 0;
   }
	
 }  


.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
}

.more-link { /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */

.region-sidebar-first {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */

.region-sidebar-second {
}


 /*
  * Footer
  */

 .region-footer {
   border-top: 1px solid #ddd;
   padding-top:30px;
   margin-top: 30px;
   margin-left:10px;
   margin-right:10px;
   .block-title {display: inline;}
   .block-menu {margin:0;}
   a {color: #005580;text-decoration: none; }
   a:hover, a:focus {text-decoration: underline;}
   .block {float: left;
     h2 {font-size: 0.8em;margin: 0 0 10px 0;}
     p {font-size: 0.8em;margin: 10px 0 10px 0;line-height: 1.5em;}
   }
  .block-menu .block-title {display: inline;}
   ul.menu {width: 75%;}
}

/*
 * Page bottom
 */

.region-bottom { /* Wrapper for any blocks placed in the page bottom region */
}
