/**
 * @file
 * Tabs Styling
 *
 * Adds styles for the primary and secondary tabs.
 *
 * Compare this with default CSS found in the system module's stylesheet (a copy
 * of which is in drupal7-reference.css.)
 */

@import "base";


// Some variables to make altering the styling easier.
$tabs-container-bg: #fff;
$tabs-border: #bbb;


/*
 * Basic positioning styles shared by primary and secondary tabs.
 */

ul.primary,
ul.secondary {
  @include clearfix;
  float: right;
  list-style: none;
  margin: 0 0 10px 0;
  padding: 0;
  white-space: nowrap;

  li {
    float: right; /* LTR */
    margin: 0 0 0 6px;
  }

  a {
    display: block;
    line-height: 1.5em;
    text-decoration: none;
    font-size:0.8em;
  }
}

/*
 * Prima ry tabs
 */

ul.primary {
  li {
    @include border-top-radius(4px);
    @include border-bottom-radius(4px);
    @include single-text-shadow(#fff, 1px, 1px, 0);
    border: 1px solid $tabs-border;
    margin: 0 0 0 6px; /* LTR */
  }

  li.active {
  }

  a:link,
  a:visited {
    @include border-top-radius(4px);
    @include border-bottom-radius(4px);
    @include transition(background-color 0.3s);
    color: #333;
    background-color: #dedede;
    padding: 0 1em;
    text-align: center;
  }
  a:hover,
  a:focus {
    background-color: #e9e9e9;
    border-color: #f2f2f2;
  }
  a.active {
    background-color: transparent;
    @include filter-gradient(rgba(#e9e9e9, 1), rgba(#e9e9e9, 0));
    @include background-image(linear-gradient(rgba(#e9e9e9, 1), rgba(#e9e9e9, 0)));
  }
}

/*
 * Secondary tabs
 */

ul.secondary {
  font-size: .9em;
  margin-top: -1.5em; /* Collapse bottom margin of ul.primary. */
  padding-bottom: .5em;

  a:link,
  a:visited {
    @include border-radius(.75em);
    @include transition(background-color 0.3s);
    @include single-text-shadow(#fff, 1px, 1px, 0);
    background-color: #f2f2f2;
    color: #666;
    padding: 0 .5em;
  }
  a:hover,
  a:focus {
    background-color: #dedede;
    border-color: #999;
    color: #333;
  }
  a.active,
  a:active {
    @include single-text-shadow(#333, 1px, 1px, 0);
    background-color: #666;
    border-color: #000;
    color: #fff;
  }
}
