/**
 * @file
 * Views Styling
 */

@import "base";


/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
.views-displays .secondary {
  li {
    float: none;
    margin: 0 6px 0;
  }

  a:link,
  a:visited {
    @include single-text-shadow(none);
    padding: 2px 7px 3px;
  }

  .open > a {
    @include border-radius(7px 7px 0 0);
    &:hover {
      color: #333;
    }
  }

  .action-list li {
    margin: 0;
    &:first-child {
      @include border-radius(0 7px 0 0);
    }
    &:last-child {
      @include border-radius(0 0 7px 7px);
    }
  }
}

.block-views {
  p {
    font-size: 13px;
    margin: 0;
    padding: 1em 0;
    line-height: 1em;
  }
}

#block-views-slideshow-block {
  clear: both;
  display: inline-block;
  a img {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }
  .flexslider {
    border: 0;
  }
  .flex-nav-container {
    margin-bottom: 10px;
  }

}

table {

  background-color:#FFF; 
  border:1px solid #cfcecd;
  color:#5d5d5b;
  border-collapse:collapse;
  width: 100%;

  tr { 

    th {
	  text-align:left;
  	  border-top:1px solid #cfcecd;
	  border-bottom:1px solid #cfcecd;	 
	  background-color:#f5f5f5;
	  padding:9px;	 
 	  max-width: 30%;
	
	  a {
	    color: #005580
	  }	
	
    }

    td {
	  padding-left:5px;
  	  padding-top:5px;
	  padding:9px;
	  border-bottom:1px solid #cfcecd;
	  max-width: 30%;
	
	  a {
	    color: #005580
	  }
	
	}

  }

  tr:nth-child(even) {
    background-color: #f5f5f5;
  }
}

.view-discussion-feed-content {

  .views-row {
    padding-bottom: 1.5em;
    margin-bottom: 1.5em;
    border-bottom: 1px solid #ddd;
  }

}