/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */

@import "base";

// IE6-7 don't support box-sizing: border-box. We can fix this in 1 of 3 ways:
// - Drop support for IE 6/7. :-) In the _base.scss, set $legacy-support-for-ie6
//   and $legacy-support-for-ie7 to false.
// - (Preferred) Install the box-sizing polyfill and set the variable below to
//   the absolute path URL to the boxsizing.htc file.
//   @see https://github.com/Schepp/box-sizing-polyfill
//   $box-sizing-polyfill-path: "/path/to/boxsizing.htc";
// - Use the same CSS unit for grid width and gutter width (use px for both or
//   use % for both, etc.) and set the box-sizing variable to content-box.
//   $zen-box-sizing: content-box;

// You can generate more efficient CSS if you manually apply the
// zen-grid-item-base mixin to all grid items from within a single ruleset.
$zen-auto-include-item-base: false;
// $zen-auto-include-flow-item-base: false;

@media all and (min-width: 705px) and (max-width: 959px) {

  #page,.region-bottom {
    max-width: 705px;
  }

  .disappear960, .disappear760 {
    display: none; 
  }

  #toolbar-menu {display: none;}

  // We are going to create a 760px wide, 16 column grid with 20px gutters between
  // columns (applied as 10px of left/right padding on each column).

  $zen-column-count:  16;
  $zen-column-width:  55;
  $zen-gutter-width:  20px;

  /** NO SIDEBARS */
  .no-sidebars {

    #content {
      @include zen-grid-container();

      .what-we-do {}

      .our-services {}

      .case-study {	
		.first-column {}
		.column { }
		.last-column { }
      }

      .products { }
      .news { }
      .popular-searches { }
      .testimonials {display: none;}

    }
  }

  /** LEFT SIDE BAR */
  .sidebar-first { 

    #content {
      @include zen-grid-item(12, 5); }
    
    .region-sidebar-first {
      @include zen-grid-item(4, 1); }
 
  }


  /** TWO SIDE BARS */
  .two-sidebars {

    .region-sidebar-first {
    }

    .region-sidebar-second {
    }

  }

  /** FOOTER */
  .region-footer {
    @include zen-grid-container();

    .block {
      @include zen-grid-flow-item(1, 4);
      margin: 0;
      font-size:0.8em;
    }
  }

}