/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */

@import "base";

// IE6-7 don't support box-sizing: border-box. We can fix this in 1 of 3 ways:
// - Drop support for IE 6/7. :-) In the _base.scss, set $legacy-support-for-ie6
//   and $legacy-support-for-ie7 to false.
// - (Preferred) Install the box-sizing polyfill and set the variable below to
//   the absolute path URL to the boxsizing.htc file.
//   @see https://github.com/Schepp/box-sizing-polyfill
//   $box-sizing-polyfill-path: "/path/to/boxsizing.htc";
// - Use the same CSS unit for grid width and gutter width (use px for both or
//   use % for both, etc.) and set the box-sizing variable to content-box.
//   $zen-box-sizing: content-box;

// You can generate more efficient CSS if you manually apply the
// zen-grid-item-base mixin to all grid items from within a single ruleset.
$zen-auto-include-item-base: false;
// $zen-auto-include-flow-item-base: false;

@media all and (min-width: 960px) and (max-width: 1199px) {

  #page,.region-bottom {
    max-width: 960px;
  }

  #toolbar div.toolbar-menu  {
    max-width: 960px;
  }

  .disappear960 {
    display: none; 
  }

  // We are going to create a 960px wide, 16 column grid with 20px gutters between
  // columns (applied as 10px of left/right padding on each column).

  $zen-column-count:  16;
  $zen-column-width:  55;
  $zen-gutter-width:  20px;

  /** NO SIDEBARS */
  .no-sidebars {

    #content {
      @include zen-grid-container();

      .what-we-do { 
        width: 47.5%;
        padding-right: 20px;
        float: left;}

      .our-services {
        width: 47.5%;
        padding-left: 20px;
        float: right;}

      .case-study {
        width: 100%;
		
		.first-column {
          width: 22%;
          padding-right: 20px;
          text-align: center;
		  float: left;
		}

		.column {
          width: 22%;
          padding-right: 10px;
          padding-left: 10px;
          text-align: center;
		  float: left;
		}

		.last-column {
          width: 22%;
          padding-left: 20px;
          text-align: center;
		  float: left;
		}

      }

      .products {
        width: 70%;
        padding-right: 20px;
        float: left;}

      .news {
        width: 25%;
        padding-left: 20px;
        float: right;}

      .popular-searches {
        width: 50%;
        float: left;
		ul { padding-right:20px; }				
	   }

      .testimonials {
        width: 50%;
        float: right;}

    }
  }


  /** LEFT SIDE BAR */
  .sidebar-first { 

    #content {
      @include zen-grid-item(12, 5); }
    
    .region-sidebar-first {
      @include zen-grid-item(4, 1); }
 
  }


  /** TWO SIDE BARS */
  .two-sidebars {

    #content {
      @include zen-grid-item(9, 4); }

    .region-sidebar-first {
      @include zen-grid-item(3, 1); }

    .region-sidebar-second {
      @include zen-grid-item(4, 13); }

  }

  /** FOOTER */
  .region-footer {
    @include zen-grid-container();

    .block {
      @include zen-grid-flow-item(1, 4);
      margin: 0;
    }
  }

}