/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */

@import "base";

// IE6-7 don't support box-sizing: border-box. We can fix this in 1 of 3 ways:
// - Drop support for IE 6/7. :-) In the _base.scss, set $legacy-support-for-ie6
//   and $legacy-support-for-ie7 to false.
// - (Preferred) Install the box-sizing polyfill and set the variable below to
//   the absolute path URL to the boxsizing.htc file.
//   @see https://github.com/Schepp/box-sizing-polyfill
//   $box-sizing-polyfill-path: "/path/to/boxsizing.htc";
// - Use the same CSS unit for grid width and gutter width (use px for both or
//   use % for both, etc.) and set the box-sizing variable to content-box.
//   $zen-box-sizing: content-box;

// You can generate more efficient CSS if you manually apply the
// zen-grid-item-base mixin to all grid items from within a single ruleset.
$zen-auto-include-item-base: false;
// $zen-auto-include-flow-item-base: false;

@media only screen and (-webkit-min-device-pixel-ratio:2), only screen and (min-device-pixel-ratio:2) {

  // We are going to create a 960px wide, 16 column grid with 20px gutters between
  // columns (applied as 10px of left/right padding on each column).

  #page,.region-bottom {
    max-width: 960px;
  }

  $zen-column-count:  16;
  $zen-column-width:  55;
  $zen-gutter-width:  20px;

  /** NO SIDEBARS */
  .no-sidebars {

    #content {
      @include zen-grid-container();

      .what-we-do {
        @include zen-grid-item(4, 1); 
        padding-right:10px;}

      .services {
        @include zen-grid-item(12, 5);
        padding-left:10px;}

      .our-vision {
        @include zen-grid-item(4, 1);
        padding-right:10px;
        @include zen-clear(); }

      .news {
        @include zen-grid-item(4, 5); 
        padding-left:10px;
        padding-right:10px;}

      .testimonials {
        @include zen-grid-item(7, 9);
        padding-left:10px;}

      .popular-searches {
        @include zen-grid-item(16, 1);
        @include zen-clear(); }
  
    }
  }


  /** LEFT SIDE BAR */
  .sidebar-first { 
    
    .region-sidebar-first {
    }

  }


  /** TWO SIDE BARS */
  .two-sidebars {

    .region-sidebar-first {
    }

    .region-sidebar-second {
    }

  }

  /** FOOTER */
  .region-footer {
  }

}
