/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */

@import "base";

/*
 * Center the pagetest
 */
#page,
.region-bottom {
  /* For screen sizes larger than 1200px, prevent excessively long lines of text
     by setting a max-width. */
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}


/*
 * Apply the shared properties of grid items in a single, efficient ruleset.
 */
#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  @include zen-grid-item-base();
}


/*
 * Containers for grid items and flow items.
 */
#header,
#main,
#footer {
  @include zen-grid-container();
}


/*
 * Navigation bar
 */

#main {
  padding-top: 3em; /* Move all the children of #main down to make room. */
  position: relative;
}
#navigation {
  position: absolute;
  top: 0; /* Move the navbar up inside #main's padding. */
  height: 3em;
  width: $zen-grid-width;
}


@import "smartphone";
@import "iphone4";
@import "ipad";
@import "desktop385";
@import "desktop760";
@import "desktop960";
@import "desktop1200";









