/**
 * @file
 * Block Styling
 */
/* line 9, ../sass/blocks.scss */
.block {
  /* Block wrapper */
  margin-bottom: 1.5em;
}
/* line 12, ../sass/blocks.scss */
.block a {
  color: #005580;
  text-decoration: none;
}
/* line 16, ../sass/blocks.scss */
.block a:hover, .block a:focus {
  color: #333;
  text-decoration: underline;
}
/* line 21, ../sass/blocks.scss */
.block.first {
  /* The first block in the region */
}
/* line 24, ../sass/blocks.scss */
.block.last {
  /* The last block in the region */
}
/* line 27, ../sass/blocks.scss */
.block.odd {
  /* Zebra striping for each block in the region */
}
/* line 30, ../sass/blocks.scss */
.block.even {
  /* Zebra striping for each block in the region */
}
/* line 33, ../sass/blocks.scss */
.block .block-title {
  /* Block title */
  text-transform: uppercase;
  font-size: 0.8em;
}

/* line 41, ../sass/blocks.scss */
#block-aggregator-category-1 {
  /* Block for the latest news items in the first category */
}

/* line 44, ../sass/blocks.scss */
#block-aggregator-feed-1 {
  /* Block for the latest news items in the first feed */
}

/* line 47, ../sass/blocks.scss */
#block-block-1 {
  /* First block created with "Add block" link */
}

/* line 50, ../sass/blocks.scss */
#block-blog-recent {
  /* "Recent blog posts" block */
}

/* line 53, ../sass/blocks.scss */
#block-book-navigation {
  /* "Book navigation" block for the current book's table of contents */
}

/* line 56, ../sass/blocks.scss */
#block-comment-recent {
  /* "Recent comments" block */
}

/* line 59, ../sass/blocks.scss */
#block-forum-active {
  /* "Active forum topics" block */
}

/* line 62, ../sass/blocks.scss */
#block-forum-new {
  /* "New forum topics" block */
}

/* line 65, ../sass/blocks.scss */
#block-locale-language {
  /* Language switcher block */
}

/* line 68, ../sass/blocks.scss */
#block-menu-menu-NAME {
  /* Custom menu block */
}

/* line 71, ../sass/blocks.scss */
#block-node-recent {
  /* "Recent content" block */
}

/* line 74, ../sass/blocks.scss */
#block-node-syndicate {
  /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

/* line 77, ../sass/blocks.scss */
#block-poll-recent {
  /* "Most recent poll" block */
}

/* line 80, ../sass/blocks.scss */
#block-profile-author-information {
  /* "Author information" block for the profile of the page's author */
}

/* line 83, ../sass/blocks.scss */
#block-search-form {
  /* "Search form" block */
  float: right;
  margin-top: 5px;
  margin-bottom: 0;
}

/* line 89, ../sass/blocks.scss */
#block-shortcut-shortcuts {
  /* "Shortcuts" block */
}

/* line 92, ../sass/blocks.scss */
#block-statistics-popular {
  /* "Popular content" block */
}

/* line 95, ../sass/blocks.scss */
#block-system-main-menu {
  /* "Main menu" block */
}

/* line 98, ../sass/blocks.scss */
#block-system-management {
  /* "Management" block for Drupal management menu */
}

/* line 101, ../sass/blocks.scss */
#block-system-navigation {
  /* "Navigation" block for Drupal navigation menu */
}

/* line 104, ../sass/blocks.scss */
#block-system-user-menu {
  /* "User menu" block for Drupal user menu */
}

/* line 107, ../sass/blocks.scss */
#block-system-help {
  /* "System help" block */
}

/* line 110, ../sass/blocks.scss */
#block-system-main {
  /* "Main page content" block */
}

/* line 113, ../sass/blocks.scss */
#block-system-powered-by {
  /* "Powered by Drupal" block */
}

/* line 116, ../sass/blocks.scss */
#block-user-login {
  /* "User login form" block */
}

/* line 119, ../sass/blocks.scss */
#block-user-new {
  /* "Who's new" block for a list of the newest users */
}

/* line 122, ../sass/blocks.scss */
#block-user-online {
  /* "Who's online" block for a list of the online users */
}

/* line 125, ../sass/blocks.scss */
#block-views-slideshow-block {
  border-bottom: 1px solid #ddd;
}

/* Custom block: Services */
/* line 131, ../sass/blocks.scss */
#services-overview {
  margin: 1.5em 0 0 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: inline-block;
}
/* line 139, ../sass/blocks.scss */
#services-overview li {
  float: left;
  width: 200px;
  border: 1px solid #ddd;
  margin-right: 10px;
  padding: 3px;
}
/* line 146, ../sass/blocks.scss */
#services-overview li h5 {
  margin: 0;
  padding: 0 10px;
  font-size: 1em;
}
/* line 150, ../sass/blocks.scss */
#services-overview li h5 a {
  color: #005580;
  text-decoration: none;
}
/* line 154, ../sass/blocks.scss */
#services-overview li h5 a:hover, #services-overview li h5 a:focus {
  color: #333;
  text-decoration: underline;
}
/* line 160, ../sass/blocks.scss */
#services-overview li p {
  margin: 0;
  padding: 10px;
}

/* line 167, ../sass/blocks.scss */
#block-block-9 {
  /* Custom block: Popular searches */
}
/* line 168, ../sass/blocks.scss */
#block-block-9 ul {
  padding-right: 80px;
  float: left;
}
/* line 172, ../sass/blocks.scss */
#block-block-9 ul li a {
  color: #005580;
  text-decoration: none;
}
/* line 176, ../sass/blocks.scss */
#block-block-9 ul li a:hover, #block-block-9 ul li a:focus {
  color: #333;
  text-decoration: underline;
}

/* line 186, ../sass/blocks.scss */
#block-views-news-block a {
  color: #005580;
  text-decoration: none;
}
/* line 190, ../sass/blocks.scss */
#block-views-news-block a:hover, #block-views-news-block a:focus {
  color: #333;
  text-decoration: underline;
}
/* line 195, ../sass/blocks.scss */
#block-views-news-block .views-row {
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
}
/* line 200, ../sass/blocks.scss */
#block-views-news-block .views-row-last {
  border: none;
}

/* line 205, ../sass/blocks.scss */
#block-block-10 {
  float: right;
  margin: 0;
  padding-top: 5px;
}

/* line 213, ../sass/blocks.scss */
#block-views-product-slider-block .field-name-field-image {
  float: left;
}
/* line 217, ../sass/blocks.scss */
#block-views-product-slider-block .product-description {
  float: left;
  width: 50%;
}
/* line 221, ../sass/blocks.scss */
#block-views-product-slider-block .product-description h3 {
  font-size: 1.4em;
  margin: 0;
}

/* line 228, ../sass/blocks.scss */
#block-block-12 {
  display: inline-block;
  margin: 1.5em 0;
}
/* line 233, ../sass/blocks.scss */
#block-block-12 h2.block-title {
  /* Block title */
  display: none;
}
/* line 237, ../sass/blocks.scss */
#block-block-12 div {
  display: block;
}
/* line 240, ../sass/blocks.scss */
#block-block-12 div p {
  margin-bottom: 0;
}
/* line 244, ../sass/blocks.scss */
#block-block-12 div h3 {
  margin-top: 0;
}
