/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */
/* line 11, ../sass/nodes.scss */
.node {
  /* Node wrapper */
}
/* line 13, ../sass/nodes.scss */
.preview .node {
  /* Preview of the content before submitting new or updated content */
  /* background-color: #ffffea; */
  /* Drupal core uses a #ffffea background */
}
/* line 17, ../sass/nodes.scss */
.node .node-title {
  /* Node title */
}
/* line 20, ../sass/nodes.scss */
.node .user-picture {
  /* The picture of the node author */
}
/* line 23, ../sass/nodes.scss */
.node .submitted {
  /* The "posted by" information */
}
/* line 26, ../sass/nodes.scss */
.node .content {
  /* Node's content wrapper */
}
/* line 29, ../sass/nodes.scss */
.node ul.links {
  /* Node links. See also the ul.links declaration in the pages.css. */
}

/* line 34, ../sass/nodes.scss */
.node-promoted {
  /* A node that has been promoted to the front page */
}

/* line 37, ../sass/nodes.scss */
.node-sticky {
  /* A sticky node (displayed before others in a list) */
}

/* line 40, ../sass/nodes.scss */
.node-by-viewer {
  /* A node created by the current user */
}

/* line 43, ../sass/nodes.scss */
.node-teaser {
  /* A node displayed as teaser */
}

/* line 46, ../sass/nodes.scss */
.node-unpublished {
  /* Unpublished nodes */
  background-color: #fff;
}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */
/* line 56, ../sass/nodes.scss */
.node-page {
  /* Page content node */
}
/* line 58, ../sass/nodes.scss */
.node-page a {
  color: #005580;
  text-decoration: none;
}
/* line 62, ../sass/nodes.scss */
.node-page a:hover, .node-page a:focus {
  text-decoration: underline;
}
/* line 66, ../sass/nodes.scss */
.preview .node-page {
  /* Preview of the content before submitting new or updated content */
  /* background-color: #ffffea; */
  /* Drupal core uses a #ffffea background */
}
/* line 70, ../sass/nodes.scss */
.node-page .title {
  /* Node title */
  color: white;
}
/* line 74, ../sass/nodes.scss */
.node-page .sub-title {
  /* Node sub title */
  color: #ccc;
  margin: 0;
}
/* line 79, ../sass/nodes.scss */
.node-page .user-picture {
  /* The picture of the node author */
}
/* line 82, ../sass/nodes.scss */
.node-page .field-name-field-featured-image {
  line-height: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
/* line 86, ../sass/nodes.scss */
.node-page .field-name-field-featured-image img {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
/* line 93, ../sass/nodes.scss */
.node-page .submitted {
  /* The "posted by" information */
  color: #999;
  margin: 0.2em 0;
}
/* line 98, ../sass/nodes.scss */
.node-page .content {
  /* Node's content wrapper */
}
/* line 99, ../sass/nodes.scss */
.node-page .content p {
  margin: 1em 0;
  line-height: 1.5em;
}
/* line 105, ../sass/nodes.scss */
.node-page .field p {
  margin: 10px 0;
  line-height: 1.5em;
}
/* line 110, ../sass/nodes.scss */
.node-page ul {
  margin: 10px 0;
  line-height: 1.5em;
}
/* line 115, ../sass/nodes.scss */
.node-page ul.links {
  /* Node links. See also the ul.links declaration in the pages.css. */
}

/* line 120, ../sass/nodes.scss */
.node-article {
  /* Article content node */
}
/* line 122, ../sass/nodes.scss */
.node-article a {
  color: #005580;
  text-decoration: none;
}
/* line 126, ../sass/nodes.scss */
.node-article a:hover, .node-article a:focus {
  color: #333;
  text-decoration: underline;
}
/* line 131, ../sass/nodes.scss */
.preview .node-article {
  /* Preview of the content before submitting new or updated content */
  /* background-color: #ffffea; */
  /* Drupal core uses a #ffffea background */
}
/* line 135, ../sass/nodes.scss */
.node-article .node-title {
  /* Node title */
}
/* line 138, ../sass/nodes.scss */
.node-article .user-picture {
  /* The picture of the node author */
}
/* line 141, ../sass/nodes.scss */
.node-article .field-name-field-featured-image {
  line-height: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
/* line 145, ../sass/nodes.scss */
.node-article .field-name-field-featured-image img {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
/* line 152, ../sass/nodes.scss */
.node-article .submitted {
  /* The "posted by" information */
  color: #999;
  margin: 0.2em 0;
}
/* line 157, ../sass/nodes.scss */
.node-article .content {
  /* Node's content wrapper */
}
/* line 158, ../sass/nodes.scss */
.node-article .content p {
  margin: 1em 0;
  line-height: 1.5em;
}
/* line 164, ../sass/nodes.scss */
.node-article ul {
  margin: 10px 0;
  line-height: 1.5em;
}
/* line 170, ../sass/nodes.scss */
.node-article .field p {
  margin: 10px 0;
  line-height: 1.5em;
}
/* line 175, ../sass/nodes.scss */
.node-article ul.links {
  /* Node links. See also the ul.links declaration in the pages.css. */
}

/* line 180, ../sass/nodes.scss */
.node-discussion {
  /* Questions content node */
}
/* line 182, ../sass/nodes.scss */
.node-discussion .group-left {
  width: 15%;
}
/* line 186, ../sass/nodes.scss */
.node-discussion .group-right {
  width: 85%;
}
/* line 190, ../sass/nodes.scss */
.node-discussion a {
  color: #3B5998;
  text-decoration: none;
}
/* line 195, ../sass/nodes.scss */
.node-discussion a:hover, .node-discussion a:focus {
  text-decoration: underline;
}
/* line 199, ../sass/nodes.scss */
.node-discussion a.username {
  font-weight: bold;
}
/* line 203, ../sass/nodes.scss */
.node-discussion h2.title {
  margin-top: 1em;
  margin-bottom: 1em;
}
/* line 208, ../sass/nodes.scss */
.preview .node-discussion {
  /* Preview of the content before submitting new or updated content */
  /* background-color: #ffffea; */
  /* Drupal core uses a #ffffea background */
}
/* line 213, ../sass/nodes.scss */
.node-discussion .field-name-ds-user-picture img {
  /* The picture of the node author */
  width: 50px;
  padding: 4px;
  border: 1px solid #ddd;
}
/* line 221, ../sass/nodes.scss */
.node-discussion .field-name-title h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
}
/* line 228, ../sass/nodes.scss */
.node-discussion .field-name-body p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
/* line 234, ../sass/nodes.scss */
.node-discussion .field-name-post-date {
  color: #999;
  font-size: 0.9em;
}
/* line 239, ../sass/nodes.scss */
.node-discussion ul.links {
  /* Node links. See also the ul.links declaration in the pages.css. */
  margin: 1em 0;
}
/* line 243, ../sass/nodes.scss */
.node-discussion ul.links li a {
  font-size: 0.9em;
}
/* line 249, ../sass/nodes.scss */
.node-discussion .comment {
  padding-top: 1.5em;
  margin-top: 1.5em;
  border-top: 1px solid #ddd;
}
/* line 255, ../sass/nodes.scss */
.node-discussion .comment a.username {
  margin-right: 10px;
}
/* line 260, ../sass/nodes.scss */
.node-discussion .comment .field-name-ds-user-picture img {
  /* The picture of the node author */
  width: 32px;
  padding: 4px;
  border: 1px solid #ddd;
}
/* line 267, ../sass/nodes.scss */
.node-discussion .comment .field-name-comment-body {
  display: inline;
}
/* line 269, ../sass/nodes.scss */
.node-discussion .comment .field-name-comment-body div {
  display: inline;
}
/* line 272, ../sass/nodes.scss */
.node-discussion .comment .field-name-comment-body p {
  display: inline;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
/* line 279, ../sass/nodes.scss */
.node-discussion .comment.last {
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
  border-bottom: 1px solid #ddd;
}
/* line 285, ../sass/nodes.scss */
.node-discussion .comment ul.links {
  /* Node links. See also the ul.links declaration in the pages.css. */
  margin: 0;
  display: block;
}
/* line 289, ../sass/nodes.scss */
.node-discussion .comment ul.links li a {
  font-size: 0.9em;
}
