/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/*
 * Body
 */
/* line 17, ../sass/pages.scss */
body {
  margin: 0;
  padding: 0;
  color: #333;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
/* line 31, ../sass/pages.scss */
#skip-link {
  margin: 0;
}
/* line 35, ../sass/pages.scss */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
/* line 49, ../sass/pages.scss */
#header {
  /* Wrapper for any blocks placed in the header region */
  margin-top: 30px;
  margin-bottom: 10px;
  clear: both;
  /* Clear the logo */
}

/* line 55, ../sass/pages.scss */
#logo {
  /* Wrapping link for logo */
  float: left;
  /* LTR */
  margin: 0;
  padding: 0;
}
/* line 60, ../sass/pages.scss */
#logo img {
  vertical-align: bottom;
}

/* line 65, ../sass/pages.scss */
#name-and-slogan {
  /* Wrapper for website name and slogan */
  float: left;
}

/* line 69, ../sass/pages.scss */
#site-name {
  /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}
/* line 75, ../sass/pages.scss */
#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}
/* line 81, ../sass/pages.scss */
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

/* line 86, ../sass/pages.scss */
#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 5px 0 0 5px;
  font-size: 1em;
}

/*
 * Main (container for everything else)
 */
/*
 * Content
 */
/* line 102, ../sass/pages.scss */
#content {
  font-size: 0.8em;
  min-height: 500px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

/* line 111, ../sass/pages.scss */
#content-header {
  padding-right: 10px;
  padding-left: 10px;
}

/*
 * Breadcrumbs
 */
/* line 124, ../sass/pages.scss */
.breadcrumb {
  /* The path to the current page in the form of a list of links */
}
/* line 125, ../sass/pages.scss */
.breadcrumb ol {
  padding: 3px 10px;
  margin: 0 0 0.5em 0;
  list-style: none;
  clear: both;
  background-color: #fbfbfb;
  background-image: -moz-linear-gradient(top, white, whitesmoke);
  background-image: -ms-linear-gradient(top, white, whitesmoke);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(whitesmoke));
  background-image: -webkit-linear-gradient(top, white, whitesmoke);
  background-image: -o-linear-gradient(top, white, whitesmoke);
  background-image: linear-gradient(top, #ffffff, #f5f5f5);
  background-repeat: repeat-x;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
}
/* line 147, ../sass/pages.scss */
.breadcrumb li {
  display: inline-block;
  *display: inline;
  text-shadow: 0 1px 0 #ffffff;
  font-size: 0.7em;
  *zoom: 1;
  padding: 0 5px 0 0;
}
/* line 155, ../sass/pages.scss */
.breadcrumb a {
  color: #333333;
}

/* line 167, ../sass/pages.scss */
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0;
}

/* line 171, ../sass/pages.scss */
h1.title {
  /* The title of the page */
  float: left;
  line-height: 1em;
  margin-bottom: 10px;
  max-width: 80%;
}

/* line 179, ../sass/pages.scss */
tr.even {
  /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 183, ../sass/pages.scss */
tr.odd {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 187, ../sass/pages.scss */
div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
}
/* line 190, ../sass/pages.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 196, ../sass/pages.scss */
div.status {
  /* Normal priority messages */
}

/* line 200, ../sass/pages.scss */
div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

/* line 205, ../sass/pages.scss */
div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
}

/* line 208, ../sass/pages.scss */
.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

/* line 212, ../sass/pages.scss */
.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

/* line 216, ../sass/pages.scss */
.tabs {
  /* See also the tabs.css file. */
}

/* line 219, ../sass/pages.scss */
.region-help {
  /* Help text on a page */
}

/* line 222, ../sass/pages.scss */
.more-help-link {
  /* Link to more help */
}

/* line 225, ../sass/pages.scss */
.region-content {
  /* Wrapper for the actual page content */
}

/* line 228, ../sass/pages.scss */
ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
/* line 232, ../sass/pages.scss */
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 238, ../sass/pages.scss */
span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

/*
 * Pager
 */
/* line 247, ../sass/pages.scss */
.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  *zoom: 1;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
/* line 263, ../sass/pages.scss */
.item-list .pager li {
  /* Each page number in the pager list */
  display: block;
  float: left;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-left-width: 0;
}
/* line 270, ../sass/pages.scss */
.item-list .pager li a {
  color: #005580;
  text-decoration: none;
}
/* line 276, ../sass/pages.scss */
.item-list .pager li a:hover,
.item-list .pager li a.active {
  text-decoration: underline;
}
/* line 282, ../sass/pages.scss */
.item-list .pager li:first-child {
  border-left-width: 1px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
/* line 289, ../sass/pages.scss */
.item-list .pager li:last-child {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

/* line 298, ../sass/pages.scss */
.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
}

/* line 301, ../sass/pages.scss */
.more-link {
  /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
/*
 * Footer
 */
/* line 329, ../sass/pages.scss */
.region-footer {
  border-top: 1px solid #ddd;
  padding-top: 30px;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
/* line 335, ../sass/pages.scss */
.region-footer .block-title {
  display: inline;
}
/* line 336, ../sass/pages.scss */
.region-footer .block-menu {
  margin: 0;
}
/* line 337, ../sass/pages.scss */
.region-footer a {
  color: #005580;
  text-decoration: none;
}
/* line 338, ../sass/pages.scss */
.region-footer a:hover, .region-footer a:focus {
  text-decoration: underline;
}
/* line 339, ../sass/pages.scss */
.region-footer .block {
  float: left;
}
/* line 340, ../sass/pages.scss */
.region-footer .block h2 {
  font-size: 0.8em;
  margin: 0 0 10px 0;
}
/* line 341, ../sass/pages.scss */
.region-footer .block p {
  font-size: 0.8em;
  margin: 10px 0 10px 0;
  line-height: 1.5em;
}
/* line 343, ../sass/pages.scss */
.region-footer .block-menu .block-title {
  display: inline;
}
/* line 344, ../sass/pages.scss */
.region-footer ul.menu {
  width: 75%;
}

/*
 * Page bottom
 */
/* line 351, ../sass/pages.scss */
.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
}
