/**
 * @file
 * Views Styling
 */
/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
/* line 18, ../sass/views-styles.scss */
.views-displays .secondary li {
  float: none;
  margin: 0 6px 0;
}
/* line 24, ../sass/views-styles.scss */
.views-displays .secondary a:link,
.views-displays .secondary a:visited {
  text-shadow: none;
  padding: 2px 7px 3px;
}
/* line 29, ../sass/views-styles.scss */
.views-displays .secondary .open > a {
  -webkit-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -ms-border-radius: 7px 7px 0 0;
  -o-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
}
/* line 31, ../sass/views-styles.scss */
.views-displays .secondary .open > a:hover {
  color: #333;
}
/* line 36, ../sass/views-styles.scss */
.views-displays .secondary .action-list li {
  margin: 0;
}
/* line 38, ../sass/views-styles.scss */
.views-displays .secondary .action-list li:first-child {
  -webkit-border-radius: 0 7px 0 0;
  -moz-border-radius: 0 7px 0 0;
  -ms-border-radius: 0 7px 0 0;
  -o-border-radius: 0 7px 0 0;
  border-radius: 0 7px 0 0;
}
/* line 41, ../sass/views-styles.scss */
.views-displays .secondary .action-list li:last-child {
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  -ms-border-radius: 0 0 7px 7px;
  -o-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
}

/* line 48, ../sass/views-styles.scss */
.block-views p {
  font-size: 13px;
  margin: 0;
  padding: 1em 0;
  line-height: 1em;
}

/* line 56, ../sass/views-styles.scss */
#block-views-slideshow-block {
  clear: both;
  display: inline-block;
}
/* line 59, ../sass/views-styles.scss */
#block-views-slideshow-block a img {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
/* line 64, ../sass/views-styles.scss */
#block-views-slideshow-block .flexslider {
  border: 0;
}
/* line 67, ../sass/views-styles.scss */
#block-views-slideshow-block .flex-nav-container {
  margin-bottom: 10px;
}

/* line 73, ../sass/views-styles.scss */
table {
  background-color: #FFF;
  border: 1px solid #cfcecd;
  color: #5d5d5b;
  border-collapse: collapse;
  width: 100%;
}
/* line 83, ../sass/views-styles.scss */
table tr th {
  text-align: left;
  border-top: 1px solid #cfcecd;
  border-bottom: 1px solid #cfcecd;
  background-color: #f5f5f5;
  padding: 9px;
  max-width: 30%;
}
/* line 91, ../sass/views-styles.scss */
table tr th a {
  color: #005580;
}
/* line 97, ../sass/views-styles.scss */
table tr td {
  padding-left: 5px;
  padding-top: 5px;
  padding: 9px;
  border-bottom: 1px solid #cfcecd;
  max-width: 30%;
}
/* line 104, ../sass/views-styles.scss */
table tr td a {
  color: #005580;
}
/* line 112, ../sass/views-styles.scss */
table tr:nth-child(even) {
  background-color: #f5f5f5;
}

/* line 119, ../sass/views-styles.scss */
.view-discussion-feed-content .views-row {
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
  border-bottom: 1px solid #ddd;
}
